html{
    overflow-x: hidden;
}
.sidebarUIlink {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
}

.sidebar-nav_elements {
    gap: 0.2rem;
}

.header-nav_elements {
    gap: 0.5rem;
}

.sidebar-nav_element:hover {
    background-color: #c3b7dfa8;
    box-shadow: unset;
}

.sidebar-nav_element.bg-black:hover {
    background-color: #0c0c0c;
}

.sidebar-logo {
    padding: 0 0 0 16px;
}

.sidebar {
    transition: width 0.2s ease-in-out;
    background: #f5f5f5;
    box-shadow: none;
    border-right: 1px dashed #d6d6d6;
}

.closedSidebar {
    width: 3.5rem;
    padding: 2px 6px;
}

.sidebar-nav_element {
    border-radius: 7px;
}

.closedSidebar .sidebar-nav_element {
    border-radius: 50px;
    padding: 6px 1px;
}

.disableRoute:not(.bg-black) {
    pointer-events: none;
    opacity: 0.5;
}

.loginBar {
    background: #f5f5f547;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgb(255 255 255 / 19%);
    position: fixed;
    top: 0.5rem;
    text-align: center;
    margin: auto;
}

.profileCardLink {
    padding: 6px !important;
}

.profileCardLink .sidebarUIlink {
    padding: 0;
    align-items: center;
}

.profileCardLink img {
    border-radius: 50%;
}

.root .root-container {
    padding: 0;
}

.home {
    height: 100vh;
    border-radius: 0;
    border: none;
}

.logo-txt {
    width: 100%;
    font-size: 18px;
    padding: 6px;
    margin: 0;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    text-wrap: nowrap;
}

.home h1 {
    font-size: 34px;
    line-height: normal;
    font-weight: 300;
    margin-bottom: 20px;
}

.home h2 {
    font-size: 50px;
    /* text-transform: uppercase; */
    font-weight: 700;
}

.comingSoonLogo {
    color: transparent;
    /* width: 210px; */
    background: #fff;
    padding: 8px;
    width: 180px;
}

.marquee-container {
    overflow: hidden;
}

.marquee {
    display: inline-block;
    animation: marquee-animation linear infinite;
}

@keyframes marquee-animation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
.allImgWrap {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.allImgWrap div {
    padding: 5px;
}
.allImgWrap image {
    aspect-ratio: 16/9;
}
.mainWrap {
    border-radius: 0 0 40px 40px;
    /* max-height: 60vh; */
    /* overflow: hidden; */
}
.colorAnimation {
    background: linear-gradient(270deg, #49c32d, #2dc3b0, #732dc3, #c22dc3);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.main{
    position: relative;
}

.heroSection h1 {
    z-index: 1;
    position: relative;
}
.logo_svg {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.logo_svg .web_txt {
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: -5px;
}
.logo_svg .frontier_txt {
    font-size: 0.9rem;
    text-transform: uppercase;
    transform: rotate(270deg);
    display: flex;
    position: relative;
    bottom: -7px;
    right: 20px;
    padding: 2px 2px;
    font-weight: 800;
    background: #fff;
    /* height: 30px; */
}
.heroSection{
    align-content: center;
    align-items: center;
}
.heroImage {
    /* aspect-ratio: 9/16; */
    /* width: 70%; */
    border-radius: 20px;
    max-width: 90%;
    text-align: center;
}
.root-container {
    margin-top: 0;
    max-height: unset;
    flex: 1 1 0%;
    overflow: auto;
    padding-top: 3rem!important;
    padding-bottom: 2rem;
}
.tiltText {
    background-color: #5e17eb;
    color: #fff;
    padding: 0 20px;
    border-radius: 20px 0;
}

.staticShadow_black{
    box-shadow: 10px 10px #000;
}
.staticShadow_purple{
    box-shadow: 10px 10px #5e17eb;
}
.bg-purple{
    background-color: #5e17eb;
}
.hero_card{
    cursor: unset;
}