.sidebarUIlink {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
}
.sidebar-nav_elements{
    gap: 0.2rem;
}
.header-nav_elements{
    gap: 0.5rem;
}
.sidebar-nav_element:hover {
    background-color: #efeeff;
    box-shadow: unset;
}
.sidebar-nav_element.bg-black:hover {
    background-color: #0c0c0c;
}
.sidebar-logo{
    padding: 0 0 0 16px;
}
.sidebar {
    transition: width 0.2s ease-in-out;
    background: #f5f5f5;
    box-shadow: none;
    border-right: 1px dashed #d6d6d6;
}
.closedSidebar {
    width: 3.5rem;
    padding: 2px 6px;
}
.sidebar-nav_element{
    border-radius: 7px;
}
.closedSidebar .sidebar-nav_element {
    border-radius: 50px;
    padding: 6px 1px;
}
.disableRoute:not(.bg-black){
    pointer-events: none;
    opacity: 0.5;
}
.loginBar {
    background: #f5f5f5;
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border: 1px solid rgba(255, 255, 255, 0.671);
    position: fixed;
    top: 0.5rem;
    text-align: center;
    margin: auto;
}